*{
    margin: 0;
    padding: 0;
} /* TÜM HTML ELEMENTLERİ SEÇİLİR*/

#parag2{
    background-color: burlywood;
    width: 30%;
    border: 3px solid blue;
    margin: auto;
}

.ortak{
    background-color: burlywood;
}

#id3{
    background-color: orangered;
    border-style:dotted;
    border-width: 4px;
    border-color: green;
    border-radius: 30px;
    padding: 12px;
    margin: 5px 30px 10px 1px;  
    /*SIRASIYLA ÜST, SAĞ, ALT, SOL */
    /*VEYA ÜST, SAĞ-SOL, ALT*/
    
    text-align: center;
    color: white;
    font-weight: 600;
}

.container{
    border: 2px solid red;
    padding: 10px;
}

#last{
    background-color: lightblue;
    padding: inherit;
    width: 20%;
}